<div class="container mx-auto py-8">
    <div class="bg-white shadow rounded-lg p-6">
        <h1 class="text-3xl font-bold mb-4">{{ event.title }}</h1>
    <img
        src="event.webp"
        alt="{{ event.title }}"
        class="w-full h-60 object-cover rounded-lg mb-4"
    />
        <p class="text-lg text-gray-700">{{ event.description }}</p>
        <p class="mt-4 text-sm text-gray-600">
        <strong>Ville :</strong> {{ event.city }}
        </p>
        <p class="text-sm text-gray-600">
        <strong>Catégorie :</strong> {{ event.category }}
        </p>
        <p class="mt-4 text-sm text-gray-600">
        <strong>Dates :</strong>
        {{ event.start_date | date: 'short' }} - {{ event.end_date | date: 'short' }}
        </p>
    </div>
</div>
