<header class="bg-white shadow flex items-center justify-between px-6 py-4">
  <div class="flex items-center space-x-3">
    <img src="logocapo.png" alt="Logocapo" class="h-12 w-12">
  </div>

  <nav class="flex space-x-8 text-black font-medium">
    <a href="/" class="hover:text-green-500">ACCUEIL</a>
    <a href="forum" class="hover:text-green-500">FORUM</a>
    <a href="articles" class="hover:text-green-500">RESSOURCES</a>
    <a href="events" class="hover:text-green-500">EVENEMENTS</a>
  </nav>

  <div class="flex items-center hover:white-500">
    <button class="flex items-center justify-center rounded-full h-12 w-12 border border-black">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="20">
        <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/>
      </svg>
    </button>
  </div>
</header>
