<div class="profile-page">
  <h1 class="title">MON PROFIL</h1>

  <div class="profile-info">
    <img src="avatar.png" alt="avatar" class="profile-avatar" />
    <div class="profile-details">
      <p><strong>Prénom :</strong> Charde</p>
      <p><strong>Nom :</strong> Parsons</p>
      <p><strong>Nº d'adhesion :</strong> FC2024000001</p>
      <p><strong>Email :</strong> {{ email }}</p>
      <p><strong>Password :</strong> **********</p>
      <p><strong>École :</strong> {{ ecole }}</p>
    </div>
  </div>

  <div class="preferences">
    <h2>MES PRÉFÉRENCES</h2>
    <p><strong>Notifications par Mail :</strong> <span class="active">  ACTIVÉ</span></p>
    <p><strong>Notifications par SMS :</strong> <span class="inactive">  DÉSACTIVÉ</span></p>
  </div>
</div>
