.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  text-align: center;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: green;
  margin-bottom: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #f0f0f0;
  margin-bottom: 20px;
  object-fit: cover;
}

.profile-details {
  font-size: 1rem;
  line-height: 1.5;
}

.preferences {
  margin-top: 20px;
  text-align: center;
}

.preferences h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.preferences p {
  margin: 5px 0;
}

.active {
  color: green;
  font-weight: bold;
}

.inactive {
  color: red;
  font-weight: bold;
}
